@model ConcurrencySample.Models.Bank 
@{
    ViewBag.Title = "Bank Details";
    ViewBag.PageTitle = "Bank Details";
}
<div id="contentDiv">
    <div class="content-title">
        <div class="title-header">
            BANK DETAILS
        </div>
         
    </div>
    <table class="uiInfoTable">
        <tbody>
           
            <tr>
                <th class="label">
                    Name:
                </th>
                <td class="data">
                    @Model.Name
                </td>
            </tr>
            <tr>
                <th class="label">
                    Short Name:
                </th>
                <td class="data">
                    @Model.Shortname
                </td>
            </tr>
            <tr>
                <th class="label">
                    CBN Code:
                </th>
                <td class="data">
                    @Model.CBNCode
                </td>
            </tr>
            <tr>
                <th class="label">
                    Addressee:
                </th>
                <td class="data">
                    @Model.Addressee
                </td>
            </tr>
            <tr>
                <th class="label">
                    Address Line1:
                </th>
                <td class="data">
                    @Model.AddressLine1
                </td>
            </tr>
            <tr>
                <th class="label">
                    Address Line2:
                </th>
                <td class="data">
                    @Model.AddressLine2
                </td>
            </tr>
            <tr>
                <th class="label">
                    Is Active:
                </th>
                <td class="data">
                    @Model.IsActive
                </td>
            </tr>
        </tbody>
    </table>
    <style type="text/css">
        #banks a
        {
            color: #C6AE82;
        }
    </style>
    <script src="~/scripts/log.js" type="text/javascript"></script>
